NET "clk_50M" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "dio" LOC = "C7" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "clk" LOC = "F8" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "stb" LOC = "E8" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

NET "sw[0]" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "sw[1]" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "mode" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;

NET "rst" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN;
