NET "clk" LOC = F8;
NET "clk_50" LOC = C9;
NET "dio" LOC = C7;
NET "stb" LOC = E8;
NET "clk_50" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "stb" IOSTANDARD = LVCMOS33;
NET "dio" IOSTANDARD = LVCMOS33;

NET "sw[0]" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "sw[1]" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;